<h1>Insertar Enfermo</h1>

<form method="post">
    <label>Inscripción</label>
    <input type="number" name="inscripcion" />

    <label>Apellido</label>
    <input type="text" name="apellido" />
    <br />
    <label>Direccion</label>
    <input type="text" name="direccion" />
    <br />

    <label>Fecha nacimiento</label>
    <input type="text" name="fechanac" />
    <br />

    <label>Género</label>
    <input type="text" name="genero" />
    <br />

    <label>Nº Seguridad Social</label>
    <input type="text" name="nss" />
    <br />

    <button type="submit" class="btn btn-primary">
        Insertar Enfermo
    </button>
</form>