
<h1>Doctores Controller</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Doctores"
           asp-action="UpdateDoctoresEspecialidad">
            Procedimiento doctor especialidad
        </a>
        <a asp-controller="Doctores"
           asp-action="ModificarSalarioDoctores">
            Procedimiento salario especialidad
        </a>
    </li>
</ul>

