@model List<Plantilla>

<h1>Plantilla</h1>
<a asp-action="PlantillaLambda" asp-controller="Plantilla">Resumen Plantilla</a>
@*@foreach (Plantilla emp in Model)
{
    <h2>@emp.IdEmpleado</h2>
    <h2>@emp.Apellido</h2>

}*@ 